@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="angularApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="helloAngular"></title>
    @Styles.Render("~/Content/bootstrap-theme")

</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <a href="../" class="navbar-brand">Angular Js</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">

                    <li>
                        <a href="">Help</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>
                    <li>
                        <a href="">Help</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <div class="container">

        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @RenderSection("Scripts", required: false)

</body>
</html>
